[submodule "tmp_protagonize_evento_orientacao_profissional_organizejr"]
	path = tmp_protagonize_evento_orientacao_profissional_organizejr
	url = https://github.com/luascfl/tmp_protagonize_evento_orientacao_profissional_organizejr.git
[submodule "tmp_relatorio_financeiro_organizejr"]
	path = tmp_relatorio_financeiro_organizejr
	url = https://github.com/luascfl/tmp_relatorio_financeiro_organizejr.git
