[submodule "tmp_protagonize_evento_orientacao_profissional_organizejr"]
	path = tmp_protagonize_evento_orientacao_profissional_organizejr
	url = https://github.com/luascfl/tmp_protagonize_evento_orientacao_profissional_organizejr.git
[submodule "tmp_proposta_eleitoral_presidencia_2026_organizejr"]
	path = tmp_proposta_eleitoral_presidencia_2026_organizejr
	url = https://github.com/luascfl/tmp_proposta_eleitoral_presidencia_2026_organizejr.git
[submodule "tmp_gestao_de_conhecimento_organizejr"]
	path = tmp_gestao_de_conhecimento_organizejr
	url = https://github.com/luascfl/tmp_gestao_de_conhecimento_organizejr.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/luascfl/fonts.git
[submodule "tmp_relatorio_financeiro_organizejr"]
	path = tmp_relatorio_financeiro_organizejr
	url = https://github.com/luascfl/tmp_relatorio_financeiro_organizejr.git
[submodule "tmp_relatorio_reflexivo_dpr"]
	path = tmp_relatorio_reflexivo_dpr
	url = https://github.com/luascfl/tmp_relatorio_reflexivo_dpr.git
[submodule "tmp_pesquisa_clareza_estrategica"]
	path = tmp_pesquisa_clareza_estrategica
	url = https://github.com/luascfl/tmp_pesquisa_clareza_estrategica.git
[submodule "tmp_organizejr_parceria_alcance_contabilidade"]
	path = tmp_organizejr_parceria_alcance_contabilidade
	url = https://github.com/luascfl/tmp_organizejr_parceria_alcance_contabilidade.git
